.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    .carousel__content {
        color: black;
        padding-bottom: 1rem ;
        .carousel__slide--hidden {
            display: none;
        }
        .carousel__slide--show {
            display: inherit;
        }
    }
}